body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom right, #5a78f3, #1db954);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-title {
  font-size: 48px;
  font-weight: bold;
  color: #1db954;
  margin-bottom: 30px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.headphone-icon {
  font-size: 36px;
  margin-right: 10px;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-label {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.login-input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  background-color: #f6f6f6;
  font-size: 18px;
  color: #333;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  padding-left: 20px;
}

.login-input::placeholder {
  color: #999;
}

.login-button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 15px;
  background-color: #4a7bff;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s ease-in-out;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.login-button:hover {
  background-color: #0056b3;
}